<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
</head>

<body>
    <div id="app">
        <template>
            <el-table :data="list" style="width: 100%">
                <el-table-column prop="id" label="编号">
                </el-table-column>
                <el-table-column prop="name" label="品牌">
                </el-table-column>
                <el-table-column prop='status' label="状态">
                    <template slot-scope="scope">
                        <el-switch v-model="scope.row.status" active-color="#13ce66" inactive-color="#ff4949">
                        </el-switch>
                        <el-tag>{{scope.row.status?'已启用':'已禁用'}}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column label="日期">
                    <template slot-scope="scope">
                        <!-- {{scope.row.time.toLocaleDateString()}} -->
                        {{scope.row.time | dateFormat}}
                    </template>
                </el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button @click="remove(scope.row.id)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </template>
        <div>
            <el-input placeholder="请输入品牌" v-model.trim="brand">
                <template slot="prepend">品牌名称</template>
                <template slot="append">
                    <el-button @click="add">添加</el-button>
                </template>
            </el-input>
        </div>

        <!-- <table>
            <thead>
                <tr>
                    <td>编号</td>
                    <td>品牌</td>
                    <td>状态</td>
                    <td>日期</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in list" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>
                        <div>
                            <el-switch v-model="item.status" active-color="#13ce66" inactive-color="#ff4949">
                            </el-switch>
                            <label for="">{{item.status===true?'已启用':'已禁用'}}</label>
                        </div>
                    </td>
                    <td>{{item.time}}</td>
                    <td>
                        <a href="#">删除</a>
                    </td>
                </tr>
            </tbody>
        </table> -->
    </div>
    <script>
        Vue.filter('dateFormat',function(time){
            const dtStr=dayjs(time).format('YYYY/MM/DD HH:mm:ss')
            return dtStr
        })
        var app = new Vue({
            el: '#app',
            data: {
                brand: '',
                nextId:5,
                list: [
                    { id: 1, name: '宝马', status: true, time: new Date() },
                    { id: 2, name: '奔驰', status: false, time: new Date() },
                    { id: 3, name: '奥迪', status: false, time: new Date() },
                    { id: 4, name: '沃尔沃', status: true, time: new Date() },
                ]
            },
            methods: {
                remove(id) {
                    console.log('我被删除了,我的id是：', id)
                    this.list = this.list.filter(item => item.id !== id)
                },
                add() {
                    if (this.brand === '') return this.$message('品牌不能为空')
                    const obj={
                        id:this.nextId,
                        name:this.brand,
                        status:true,
                        time: new Date()
                    }
                    this.list.push(obj)
                    this.brand=''
                    this.nextId++
                }
            }
        })
    </script>
</body>

</html>